@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v6.1.2/css/all.css);

/* Colors and fonts */
body {
  background-image: url(gotico.jpg);
  color: #0A6A56;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #A82B11;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #A82B11;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #0A6A56;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}


/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #BD9302;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #b32b2b;
}
.list-inline i:hover {
  color: black;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
